:root {
    --main-font: "Roboto", sans-serif;
     --secondary-font: "Raleway", sans-serif;
     --accent-color: #2196F3;
      --color-text-white: #FFFFFF;
      --primaru-text-color:#212121;
      --title-text-color:#757575;
      
 }     
body {
    font-family: var(--main-font);
  background-color: var(--color-text-white);
    color: var(--primaru-text-color);
}  

.link {
    text-decoration: none;
    color: var(--primaru-text-color);
    
}
.list {
    list-style: none;
}
.address {
    font-style: normal;
    
}  
.link-name{
    text-decoration: none;
    color: var(--color-text-white);
}
   .web-navigation{
       font-family: var(--secondary-font);
       font-weight: 700;
       font-size: 26px;
       line-height: 1.19;
       letter-spacing: 0.03em;
        
    }  
   .Web-color  {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    }

     
   .navigation-link {
      
       font-weight: 500;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.02em;
        color: var(--primaru-text-color);
       
    }  
    
    .navigation-link:hover,
    .navigation-link:focus {
     color: var(--accent-color);

    }
    
  
      
    
    
    .contacts-mail{
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-text-color)
    }
    .contacts-mail:hover,
    .contacts-mail:focus{
        color: var(--accent-color);
    }
    .effective{
        background: #2F303A;
    }
    .effective-solution{
       
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--color-text-white);
     }
     .service-btn {

        font-family: inherit;
         font-weight: 700;
         font-size: 16px;
         line-height: 1.87;
         
         align-items: center;
         text-align: center;
         letter-spacing: 0.06em;
         background: var(--accent-color);
         color: var(--color-text-white);
     }
         .Features-title{
             font-weight: 700;
             font-size: 14px;
             line-height: 1.14;
             letter-spacing: 0.03em;
             text-transform: uppercase;
              color: var(--primaru-text-color);
             
             
           }   
           .Features-title-text{
               font-weight: 400;
               font-size: 14px;
               line-height: 1.7;
               letter-spacing: 0.03em;
               color: var(--title-text-color)
               
            }
       .about-title{
           font-weight: 700;
           font-size: 36px;
           line-height: 1.17;
           text-align: center;
           letter-spacing: 0.03em;
            color: var(--primaru-text-color);
           
       }    
/* фон наша команда*/
           .photo{
               
            background: #F5F4FA;
           }
           
       
       .photo-title{
           font-weight: 700;
           font-size: 36px;
           line-height: 1.17;
           text-align: center;
           letter-spacing: 0.03em;
           
           
          }   
          .contacts-name {
              background: #2F303A;
          }
           
     
       .photo-title-name {
           font-weight: 500;
           font-size: 16px;
           line-height: 1.19;
           text-align: center;
           letter-spacing: 0.03em;
            color: var(--primaru-text-color);
          
           
        }
        .photo-title-profession{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
           color: var(--title-text-color)
            
        }   
        .web-logo{
              font-family: var(--secondary-font);
              font-weight: 700;
              font-size: 26px;
              line-height: 1.19;
              letter-spacing: 0.03em;
            color: var(--color-text-white);
        }
       
           
        }

           .contact-list-link{
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: var(--color-text-white);
           
            

            /*color: #FFFFFF;*/
        } 
        
           .contact-list-link:hover,
           .contact-list-link:focus{
             color: var(--accent-color);  
           }
          

        
        /*portfolio*/
        .list-btn-link {
            font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.03em;
             color: var(--primaru-text-color);
            
          }
         
           
        
          .list-btn-link:hover,
          .list-btn-link:focus {
        background-color: var(--accent-color);
        color: var(--color-text-white);
          }
           /*Кнопка подсвечивания портфолио*/
           .navigation-link-portfolio:visited {
               color: var(--accent-color);
           }

          .list-imeges-name{
             font-weight: 700;
              font-size: 18px;
              line-height: 2;
              letter-spacing: 0.06em;
               color: var(--primaru-text-color);
              
              
            }   
           .list-imeges-btn{
               font-weight: 400;
               font-size: 16px;
               line-height: 1.87;
               letter-spacing: 0.03em;
               color: var(--title-text-color)
               } 
               
               

               
              

              
         

              
         


        
       
            
           

            
        
           
        

           

       

              
           

             
        

         
     

        
   
    
    
   
    
    

